/*=========================================================
  Start Header
=========================================================*/
@media(max-width:768px){
	.content-inf h1 {
    font-size: 27px;
    color: #f7f3ea;
    padding-left: 28px;
	}
}
/*End Header*/
/*=========================================================
  service-section start
=========================================================*/
@media(max-width:768px){
	.box-info {
    background: #14a58c;
    padding: 2px 34px;
    margin: 0px 347px;
	}
	.font-weight-bold.text-white.pb-2 {
    padding-right: 15px;
	}
	.service-section h3 {
    font-size: 25px;
	}
}
/*service-section end*/
/*=========================================================
  our-team start
=========================================================*/
@media(max-width:768px){
	.brdr {
    margin-top: 6px !important;
    margin: 4px 334px;
    margin-top: 4px;
    border-top: 3px solid #43a191;
	}
	.cate-upton h3 {
    font-size: 18px;
	}
	.cate-upton h6 {
    font-size: 13px;
	}
	.cate-upton p {
    font-size: 16px;
	}
	.cate-upton ul {
    font-size: 10px;
	}
}
/*our-team end*/
/*=========================================================
  about section start 
=========================================================*/
@media(max-width:768px){
	.col-lg-2.client-img img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
	}
	.about p{
    padding-left: 30px;
    font-size: 17px;
    margin-top: 8px;
	}
	.left-ss{
		margin-left: -35px;
	}
	.about h4{
		padding-left: 26px;
	}
	.about h6{
		padding-left: 26px;
	}
	.butt-innf {
    margin-top: 4px !important;
    margin: 3px 230px;
        margin-top: 3px;
    margin-top: 4px;
    margin-top: 4px;
    border-top: 2px solid #ff8585;
	}
}
/*about section end */
